:root {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: #eeeeee;
}

body {
	background-color: #212529;
	margin: 0px;
}

a {
	color: #ffffff;
	text-decoration: none;
	font-size: 120%;
	&:hover {
		text-decoration: underline;
	}
}

.right {
	float: right;
}

.navbar {
	position: sticky;
	top: 0;
	background-color: #3c3f43;
	a {
		display: inline-block;
		padding: 1rem;
		color: slategray;
		&[aria-current="page"] {
			color: white;
			text-decoration: underline;
		}
	}
}

.infobox {
	.poster span {
		font-size: 150%;
	}
}

#content {
	margin: auto;
	width: 70ch;
	overflow-y: scroll;
	border-inline: 1px #fff dotted;
}

.post {
	background-color: #181818;
	border-radius: 1rem;
	margin: 1rem;
	padding: 1rem;
	overflow: wrap;
}

.poster-info {
	img {
		vertical-align: middle;
		border-radius: 50%;
		border: 1px white solid;
	}

	span a{
		// color: #ffffff;
		vertical-align: middle;
		text-decoration: underline;
	}
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	vertical-align: middle;
	h1 {
		font-size: 200%;
	}
	* {
		font-size: 120%;
		padding: 0.7rem 1rem;
		margin: 1rem;
		border-radius: 1rem;
	}
}
